<div
  *ngIf="!loading && !error && block; else loadingOrError"
  class="mx-12 grid grid-cols-2 gap-12 relative"
>
  <!-- Block Info -->
  <div
    class="bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_rgba(0,0,0,0.3),-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[25px]"
  >
    <div class="relative px-6 pt-6 flex">
      <div class="flex-row">
        <div
          class="h-[100px] w-[100px] transition-transform duration-200 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_rgba(0,0,0,0.3),-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[10px]"
        ></div>
        <p class="py-1 text-[32px] text-center font-medium dark:text-[#7F8493]">
          Block {{ block.number }}
        </p>
      </div>
    </div>
    <!-- Block Details -->
    <div
      class="m-3 p-3 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_rgba(0,0,0,0.3),-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[10px]"
    >
      <p class="mb-3 text-[16px] font-medium">Details</p>
      <div class="">
        <div>
          <p>
            Txs: <span class="text-gray-500">{{ block.txCount }}</span>
          </p>
          <p class="flex items-start gap-2 max-w-full">
            <span class="shrink-0">Data Hash:</span>

            <button
              class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
              (click)="copy(block.dataHash)"
            >
              <span
                class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
              >
                {{ block.dataHash }}
              </span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 shrink-0 mt-0.5"
              >
                <path
                  d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
                />
                <path
                  d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
                />
              </svg>
            </button>
          </p>
          <p class="flex items-start gap-2 max-w-full">
            <span class="shrink-0">Previous Hash:</span>

            <button
              class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
              (click)="copy(block.previousHash)"
            >
              <span
                class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
              >
                {{ block.previousHash }}
              </span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-4 shrink-0 mt-0.5"
              >
                <path
                  d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
                />
                <path
                  d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
                />
              </svg>
            </button>
          </p>
          <p>
            Size: <span class="text-gray-500">{{ block.size }} kB</span>
          </p>
          <p>
            Timestamp: <span class="text-gray-500">{{ block.timestamp | formatDate }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Transactions -->
  <div
    class="bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_rgba(0,0,0,0.3),-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[25px]"
  >
    <div class="p-3">
      <p class="mb-3 text-center text-[16px] font-medium dark:text-[#7F8493]">Transactions</p>
      <div class="space-y-3">
        <!-- Transaction IDs -->
        <ng-container *ngIf="isArray(block.txIds); else singleId">
          <div
            *ngFor="let txIds of block.txIds; let i = index"
            class="bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_rgba(0,0,0,0.3),-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[10px]"
          >
            <div class="flex justify-between p-4">
              <div class="flex">
                <span
                  class="p-2 w-10 text-center bg-[#e0e4e7] shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[inset_3px_3px_6px_rgba(0,0,0,0.3),inset_-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[10px]"
                  >TX</span
                >
                <div class="grid grid-rows-2 items-center">
                  <button
                    class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
                    (click)="copy(txIds)"
                  >
                    <span class="text-xs ml-4 text-gray-500">
                      {{ txIds }}
                    </span>

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-3 shrink-0 mt-0.5"
                    >
                      <path
                        d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
                      />
                      <path
                        d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
                      />
                    </svg>
                  </button>
                  <p class="text-xs ml-4 text-gray-500">
                    {{ block.txTimestamp[i] | formatDate }}
                  </p>
                </div>
              </div>
              <!-- Expand/Collapse Button -->
              <button (click)="toggleTransaction(i)" class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6 transition-transform duration-300 ease-in-out"
                  [class.rotate-180]="isTransactionOpen(i)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
            <!-- TX Details -->
            <div
              class="grid transition-all duration-300 ease-in-out"
              [class.grid-rows-[1fr]]="isTransactionOpen(i)"
              [class.grid-rows-[0fr]]="!isTransactionOpen(i)"
            >
              <div class="overflow-hidden">
                <p class="p-4">TX Details</p>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Transaction ID for single transaction -->
        <ng-template #singleId>
          <div
            class="p-4 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_rgba(0,0,0,0.3),-3px_-3px_6px_rgba(255,255,255,0.08)] rounded-[10px]"
          >
            <span class="mr-2">TX</span> <span class="text-gray-500">{{ block.txIds }}</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- Loading, Error, or Not Found -->
<ng-template #loadingOrError>
  <div class="p-20 text-center text-[#7F8493] font-medium">
    <div *ngIf="loading"></div>
    <div *ngIf="error">
      <p class="text-2xl">Error</p>
      <p class="text-sm">{{ error }}</p>
    </div>
    <div *ngIf="!loading && !error">
      <p class="text-2xl">Block not found</p>
      <p class="text-sm">Try searching for a different Block or Hash</p>
    </div>
  </div>
</ng-template>
