<div
  *ngIf="!loading && !error && block; else loadingOrError"
  class="mx-6 mb-6 flex flex-col md:flex-row gap-6 relative"
>
  <!-- Block Info -->
  <div
    class="self-start flex-1 flex flex-col bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
  >
    <div class="relative px-6 pt-6 flex justify-between items-start">
      <div class="flex-row">
        <div
          class="size-25 relative bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
        >
          <!-- Track -->
          <div class="absolute inset-0 rounded-[10px] overflow-hidden">
            <!-- Tick marks (10 max tx) -->
            <div class="flex flex-col justify-between p-1 pointer-events-none">
              <span *ngFor="let _ of ticks"></span>
            </div>

            <!-- Fill -->
            <div
              class="absolute bottom-0 w-full bg-linear-to-br from-[#eb5d82] via-[#eb5d5d] to-[#ed2b2b]"
              [style.height.%]="(block.txCount / 10) * 100"
            ></div>
          </div>
        </div>
        <p class="py-1 text-[32px] text-center font-medium dark:text-[#7F8493]">
          Block {{ block.number }}
        </p>
      </div>
      <!-- Navigation Buttons -->
      <div class="flex flex-row gap-4">
        <!-- Previous Block -->
        <button
          *ngIf="block && +block.number > 0"
          class="cursor-pointer relative p-2 bg-[#e0e4e7] dark:bg-[#24272C] rounded-full transition-all duration-300 ease-in-out group"
          (click)="goToPreviousBlock()"
        >
          <!-- Normal Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out group-hover:opacity-0"
          ></span>
          <!-- Inset Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100"
          ></span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-4 transition-transform duration-300 ease-in-out group-hover:scale-[0.9]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
            />
          </svg>
        </button>
        <!-- Next Block -->
        <button
          *ngIf="block && +block.number < latestBlockNumber"
          class="cursor-pointer relative p-2 bg-[#e0e4e7] dark:bg-[#24272C] rounded-full transition-all duration-300 ease-in-out group"
          (click)="goToNextBlock()"
        >
          <!-- Normal Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out group-hover:opacity-0"
          ></span>
          <!-- Inset Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100"
          ></span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-4 transition-transform duration-300 ease-in-out group-hover:scale-[0.9]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- Block Details -->
    <div
      class="m-3 p-3 text-base bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
    >
      <p>
        <strong>Txs: </strong>
        <span class="text-gray-500">{{ block.txCount }}</span>
      </p>
      <p class="flex items-start gap-2 max-w-full">
        <span class="shrink-0"><strong>Data Hash: </strong></span>

        <button
          class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
          (click)="copy(block.dataHash)"
        >
          <span
            class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
          >
            {{ block.dataHash }}
          </span>
          <!-- Copy icon -->
          <svg
            *ngIf="copied !== block.dataHash"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-4 shrink-0 mt-0.5"
          >
            <path
              d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
            />
            <path
              d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
            />
          </svg>
          <!-- Copied icon -->
          <svg
            *ngIf="copied === block.dataHash"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#65ae61"
            class="size-4 shrink-0 mt-0.5"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </button>
      </p>
      <p class="flex items-start gap-2 max-w-full">
        <span class="shrink-0"><strong>Block Hash:</strong></span>

        <button
          class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
          (click)="copy(block.currentBlockHash)"
        >
          <span
            class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
          >
            {{ block.currentBlockHash }}
          </span>
          <!-- Copy icon -->
          <svg
            *ngIf="copied !== block.currentBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-4 shrink-0 mt-0.5"
          >
            <path
              d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
            />
            <path
              d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
            />
          </svg>
          <!-- Copied icon -->
          <svg
            *ngIf="copied === block.currentBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#65ae61"
            class="size-4 shrink-0 mt-0.5"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </button>
      </p>
      <p class="flex items-start gap-2 max-w-full">
        <span class="shrink-0"><strong>Previous Block Hash:</strong></span>

        <button
          class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
          (click)="copy(block.previousBlockHash)"
        >
          <span
            class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
          >
            {{ block.previousBlockHash }}
          </span>
          <!-- Copy icon -->
          <svg
            *ngIf="copied !== block.previousBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-4 shrink-0 mt-0.5"
          >
            <path
              d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
            />
            <path
              d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
            />
          </svg>
          <!-- Copied icon -->
          <svg
            *ngIf="copied === block.previousBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#65ae61"
            class="size-4 shrink-0 mt-0.5"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </button>
      </p>
      <p>
        <strong>Size: </strong> <span class="text-gray-500">{{ block.size }} kB</span>
      </p>
      <p>
        <strong>Timestamp: </strong>
        <span class="text-gray-500">{{ block.timestamp | formatDate }}</span>
      </p>
    </div>
  </div>
  <!-- Transactions -->
  <div
    class="flex-1 px-3 pt-2 pb-3 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
  >
    <p class="text-center text-base font-medium dark:text-[#7F8493] pb-2">Transactions</p>
    <div class="space-y-3">
      <!-- Transaction IDs -->
      <ng-container *ngIf="isArray(block.txIds); else singleId">
        <div
          *ngFor="let txIds of block.txIds; let i = index"
          class="bg-[#e0e4e7] shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] rounded-[10px]"
        >
          <div
            class="bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
          >
            <div class="flex justify-between p-4">
              <div class="flex">
                <span
                  class="p-2 w-10 text-center bg-[#e0e4e7] shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] rounded-[10px]"
                  >TX</span
                >
                <div class="grid grid-rows-2 items-center">
                  <button
                    class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
                    (click)="copy(txIds)"
                  >
                    <span class="text-xs ml-4 text-gray-500">
                      {{ txIds }}
                    </span>
                    <!-- Copy icon -->
                    <svg
                      *ngIf="copied !== txIds"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-3 shrink-0 mt-0.5"
                    >
                      <path
                        d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
                      />
                      <path
                        d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
                      />
                    </svg>
                    <!-- Copied icon -->
                    <svg
                      *ngIf="copied === txIds"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#65ae61"
                      class="size-3 shrink-0 mt-0.5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m4.5 12.75 6 6 9-13.5"
                      />
                    </svg>
                  </button>
                  <p class="text-xs ml-4 text-gray-500">
                    {{ block.txTimestamp[i] | formatDate }}
                  </p>
                </div>
              </div>
              <!-- Expand/Collapse Button -->
              <button (click)="toggleTransaction(i, txIds)" class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6 transition-transform duration-500 ease-in-out"
                  [class.rotate-180]="isTransactionOpen(i)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
          <!-- TX Details -->
          <div
            class="grid transition-all duration-500 ease-in-out"
            [class.grid-rows-[1fr]]="isTransactionOpen(i)"
            [class.grid-rows-[0fr]]="!isTransactionOpen(i)"
          >
            <div class="overflow-hidden">
              <ng-container *ngIf="txDetailsMap.has(txIds); else loading">
                <div class="p-4 space-y-2 text-base">
                  <p>
                    <strong>PID: </strong>
                    <span class="text-gray-500">{{ txDetailsMap.get(txIds)?.key || '' }}</span>
                  </p>
                  <p>
                    <strong>Hash: </strong>
                    <span class="text-gray-500">{{
                      txDetailsMap.get(txIds)?.asset?.hash || ''
                    }}</span>
                  </p>
                  <p class="flex flex-wrap gap-1">
                    <strong>Authors: </strong
                    ><span class="text-gray-500">{{
                      txDetailsMap.get(txIds)?.asset?.authors.join(', ') || ''
                    }}</span>
                  </p>
                </div>
              </ng-container>

              <ng-template #loading>
                <div class="p-4 text-gray-400 dark:text-gray-300">Loading TX details…</div>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Transaction ID for single transaction -->
      <ng-template #singleId>
        <div
          class="p-4 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
        >
          <span class="mr-2">TX</span> <span class="text-gray-500">{{ block.txIds }}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- Loading, Error, or Not Found -->
<ng-template #loadingOrError>
  <div class="p-20 text-center text-[#7F8493] font-medium">
    <div *ngIf="loading"></div>
    <div *ngIf="error">
      <p class="text-2xl">Error</p>
      <p class="text-sm">{{ error }}</p>
    </div>
    <div *ngIf="!loading && !error">
      <p class="text-2xl">Block not found</p>
      <p class="text-sm">Try searching for a different Block or Hash</p>
    </div>
  </div>
</ng-template>
