<div
  *ngIf="!loading && !error && block; else loadingOrError"
  class="mx-6 mb-6 flex flex-col md:flex-row gap-6 relative"
>
  <!-- Block Info -->
  <div
    class="self-start flex-1 flex flex-col bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
  >
    <div class="relative px-6 pt-6 flex justify-between items-start">
      <div class="flex flex-col">
        <div
          class="size-25 relative bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
        >
          <!-- Track -->
          <div class="absolute inset-0 rounded-[10px] overflow-hidden">
            <!-- Tick marks (10 max tx) -->
            <div class="flex flex-col justify-between p-1 pointer-events-none">
              <span *ngFor="let _ of ticks"></span>
            </div>

            <!-- Fill -->
            <div
              class="absolute bottom-0 w-full bg-linear-to-br from-[#eb5d82] via-[#eb5d5d] to-[#ed2b2b]"
              [style.height.%]="(block.txCount / 10) * 100"
            ></div>
          </div>
        </div>
        <p class="py-1 text-[32px] text-center font-medium dark:text-[#7F8493]">
          Block {{ block.number }}
        </p>
      </div>
      <!-- Navigation Buttons -->
      <div class="flex flex-row gap-4">
        <!-- Previous Block -->
        <button
          *ngIf="block && +block.number > 0"
          class="cursor-pointer relative p-2 bg-[#e0e4e7] dark:bg-[#24272C] rounded-full transition-all duration-300 ease-in-out group"
          (click)="goToPreviousBlock()"
        >
          <!-- Normal Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out group-hover:opacity-0"
          ></span>
          <!-- Inset Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100"
          ></span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-4 transition-transform duration-300 ease-in-out group-hover:scale-[0.9]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
            />
          </svg>
        </button>
        <!-- Next Block -->
        <button
          *ngIf="block && +block.number < latestBlockNumber"
          class="cursor-pointer relative p-2 bg-[#e0e4e7] dark:bg-[#24272C] rounded-full transition-all duration-300 ease-in-out group"
          (click)="goToNextBlock()"
        >
          <!-- Normal Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out group-hover:opacity-0"
          ></span>
          <!-- Inset Shadow -->
          <span
            class="absolute inset-0 rounded-full shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100"
          ></span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-4 transition-transform duration-300 ease-in-out group-hover:scale-[0.9]"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- Block Details -->
    <div
      class="m-3 p-3 flex flex-col gap-2 text-base bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
    >
      <p class="sm:flex items-start gap-2 max-w-full">
        <span class="shrink-0"><strong>Data Hash: </strong></span>

        <button
          class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
          (click)="copy(block.dataHash)"
        >
          <span
            class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
            style="
              font-family:
                Space Mono,
                monospace;
            "
          >
            {{ block.dataHash }}
          </span>
          <!-- Copy icon -->
          <svg
            *ngIf="copied !== block.dataHash"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-4 shrink-0 mt-0.5 self-center"
          >
            <path
              d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
            />
            <path
              d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
            />
          </svg>
          <!-- Copied icon -->
          <svg
            *ngIf="copied === block.dataHash"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#65ae61"
            class="size-4 shrink-0 mt-0.5 self-center"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </button>
      </p>
      <p class="sm:flex items-start gap-2 max-w-full">
        <span class="shrink-0"><strong>Block Hash:</strong></span>

        <button
          class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
          style="
            font-family:
              Space Mono,
              monospace;
          "
          (click)="copy(block.currentBlockHash)"
        >
          <span
            class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
          >
            {{ block.currentBlockHash }}
          </span>
          <!-- Copy icon -->
          <svg
            *ngIf="copied !== block.currentBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-4 shrink-0 mt-0.5 self-center"
          >
            <path
              d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
            />
            <path
              d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
            />
          </svg>
          <!-- Copied icon -->
          <svg
            *ngIf="copied === block.currentBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#65ae61"
            class="size-4 shrink-0 mt-0.5 self-center"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </button>
      </p>
      <p class="sm:flex items-start gap-2 max-w-full">
        <span class="shrink-0"><strong>Previous Block Hash:</strong></span>

        <button
          class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
          style="
            font-family:
              Space Mono,
              monospace;
          "
          (click)="copy(block.previousBlockHash)"
        >
          <span
            class="text-left block max-w-full whitespace-normal break-all overflow-hidden line-clamp-3"
          >
            {{ block.previousBlockHash }}
          </span>

          <!-- Copy icon -->
          <svg
            *ngIf="copied !== block.previousBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-4 shrink-0 mt-0.5 self-center"
          >
            <path
              d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
            />
            <path
              d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
            />
          </svg>
          <!-- Copied icon -->
          <svg
            *ngIf="copied === block.previousBlockHash"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="#65ae61"
            class="size-4 shrink-0 mt-0.5 self-center"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
        </button>
      </p>
      <p>
        <strong>Transactions: </strong>
        <span class="text-gray-500">{{ block.txCount }}</span>
      </p>
      <p>
        <strong>Timestamp: </strong>
        <span class="text-gray-500">{{ block.timestamp | formatDate }}</span>
      </p>
      <p>
        <strong>Size: </strong> <span class="text-gray-500">{{ block.size }} kB</span>
      </p>
    </div>
  </div>
  <!-- Transactions -->
  <div
    class="flex-1 px-3 pt-2 pb-3 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
  >
    <p class="text-center text-base font-medium dark:text-[#7F8493] pb-2">Transactions</p>
    <div class="space-y-3">
      <!-- Transaction IDs -->
      <ng-container *ngIf="isArray(block.txIds); else singleId">
        <div
          *ngFor="let txIds of block.txIds; let i = index"
          class="bg-[#e0e4e7] shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] rounded-[10px]"
        >
          <div
            class="bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
          >
            <div class="flex justify-between p-4">
              <div class="flex">
                <span
                  class="inline-flex items-center justify-center aspect-square h-12 w-12 bg-[#e0e4e7] shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14] rounded-[10px] text-center"
                >
                  TX
                </span>
                <div class="grid grid-rows-2 items-center text-base">
                  <button
                    class="cursor-pointer flex items-start text-gray-500 hover:font-bold max-w-full overflow-hidden"
                    (click)="copy(txIds)"
                  >
                    <span
                      class="ml-4 text-gray-500 truncate max-w-200"
                      style="
                        font-family:
                          Space Mono,
                          monospace;
                      "
                    >
                      {{ txIds }}
                    </span>
                    <!-- Copy icon -->
                    <svg
                      *ngIf="copied !== txIds"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-4 shrink-0 mt-0.5 self-center"
                    >
                      <path
                        d="M16.5 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3v-6A4.5 4.5 0 0 1 10.5 6h6Z"
                      />
                      <path
                        d="M18 7.5a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3H18Z"
                      />
                    </svg>
                    <!-- Copied icon -->
                    <svg
                      *ngIf="copied === txIds"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="3"
                      stroke="#65ae61"
                      class="size-4 shrink-0 mt-0.5 self-center"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m4.5 12.75 6 6 9-13.5"
                      />
                    </svg>
                  </button>
                  <p class="ml-4 text-gray-500">
                    {{ block.txTimestamp[i] | formatDate }}
                  </p>
                </div>
              </div>
              <!-- Expand/Collapse Button -->
              <button (click)="toggleTransaction(i, txIds)" class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6 transition-transform duration-500 ease-in-out"
                  [class.rotate-180]="isTransactionOpen(i)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
          <!-- TX Details -->
          <div
            class="grid transition-all duration-500 ease-in-out"
            [class.grid-rows-[1fr]]="isTransactionOpen(i)"
            [class.grid-rows-[0fr]]="!isTransactionOpen(i)"
          >
            <div class="overflow-hidden">
              <ng-container *ngIf="txDetailsMap.has(txIds); else loading">
                <div class="p-4 space-y-2 text-base">
                  <div>
                    <p class="inline-flex">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5 self-center mr-1"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5"
                        />
                      </svg>
                      <span class="font-bold text-lg">PID: </span>
                    </p>
                    <p class="text-gray-500">{{ txDetailsMap.get(txIds)?.key || '' }}</p>
                  </div>
                  <div>
                    <p class="inline-flex">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="size-5 self-center mr-1"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12 3.75a6.715 6.715 0 0 0-3.722 1.118.75.75 0 1 1-.828-1.25 8.25 8.25 0 0 1 12.8 6.883c0 3.014-.574 5.897-1.62 8.543a.75.75 0 0 1-1.395-.551A21.69 21.69 0 0 0 18.75 10.5 6.75 6.75 0 0 0 12 3.75ZM6.157 5.739a.75.75 0 0 1 .21 1.04A6.715 6.715 0 0 0 5.25 10.5c0 1.613-.463 3.12-1.265 4.393a.75.75 0 0 1-1.27-.8A6.715 6.715 0 0 0 3.75 10.5c0-1.68.503-3.246 1.367-4.55a.75.75 0 0 1 1.04-.211ZM12 7.5a3 3 0 0 0-3 3c0 3.1-1.176 5.927-3.105 8.056a.75.75 0 1 1-1.112-1.008A10.459 10.459 0 0 0 7.5 10.5a4.5 4.5 0 1 1 9 0c0 .547-.022 1.09-.067 1.626a.75.75 0 0 1-1.495-.123c.041-.495.062-.996.062-1.503a3 3 0 0 0-3-3Zm0 2.25a.75.75 0 0 1 .75.75c0 3.908-1.424 7.485-3.781 10.238a.75.75 0 0 1-1.14-.975A14.19 14.19 0 0 0 11.25 10.5a.75.75 0 0 1 .75-.75Zm3.239 5.183a.75.75 0 0 1 .515.927 19.417 19.417 0 0 1-2.585 5.544.75.75 0 0 1-1.243-.84 17.915 17.915 0 0 0 2.386-5.116.75.75 0 0 1 .927-.515Z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span class="font-bold text-lg">Hash: </span>
                    </p>

                    <p class="text-gray-500">{{ txDetailsMap.get(txIds)?.asset?.hash || '' }}</p>
                  </div>
                  <div>
                    <p class="inline-flex">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="size-5 self-center mr-1"
                      >
                        <path
                          d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
                        />
                        <path
                          d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
                        />
                        <path
                          d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"
                        />
                      </svg>
                      <span class="font-bold text-lg">Authors:</span>
                    </p>
                  </div>
                  <div class="flex flex-wrap gap-3">
                    <span
                      *ngFor="
                        let author of txDetailsMap.get(txIds)?.asset?.authors || '';
                        let i = index
                      "
                      class="flex flex-col bg-[#e0e4e7] dark:bg-[#24272C] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-xl px-3 py-2"
                    >
                      <span>{{ author.fullName }}</span>
                      <span class="text-gray-500 text-xs">{{ author.orcidId }}</span>
                    </span>
                  </div>
                </div>
              </ng-container>

              <ng-template #loading>
                <div class="p-4 text-gray-400 dark:text-gray-300">Loading TX details…</div>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Transaction ID for single transaction -->
      <ng-template #singleId>
        <div
          class="p-4 bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
        >
          <span class="mr-2">TX</span> <span class="text-gray-500">{{ block.txIds }}</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- Loading, Error, or Not Found -->
<ng-template #loadingOrError>
  <div class="p-20 text-center text-[#7F8493] font-medium">
    <div *ngIf="loading">
      <!-- Loading -->
      <div
        class="relative inline-block w-20 h-20 p-3 rounded-full shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14]"
      >
        <div
          class="w-full h-full rounded-full border-6 border-t-transparent border-r-transparent border-b-transparent border-l-transparent shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14]"
        ></div>

        <div
          class="absolute inset-0 filter drop-shadow-[2px_2px_2px_#c8c8c8,-2px_-2px_2px_#ffffff] dark:drop-shadow-[2px_2px_2px_#0000004d,-2px_-2px_2px_#ffffff14]"
        >
          <svg
            class="w-20 h-20 animate-spin stroke-[#e0e4e7] dark:stroke-[#24272C]"
            viewBox="0 0 100 100"
          >
            <circle
              cx="50"
              cy="50"
              r="42.5"
              stroke-width="15"
              fill="none"
              stroke-linecap="round"
              stroke-dasharray="70 200"
            />
          </svg>
        </div>
      </div>
      <p class="mt-4 text-2xl">Loading...</p>
    </div>
    <div *ngIf="error">
      <p class="text-2xl">Error</p>
      <p class="text-sm">{{ error }}</p>
    </div>
    <div *ngIf="!loading && !error">
      <p class="text-2xl">Block not found</p>
      <p class="text-sm">Try searching for a different Block or Hash</p>
    </div>
  </div>
</ng-template>
