<div class="mx-6 mb-6">
  <!-- Dashboard Header  -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-sm 2xl:text-base">
    <!-- Nodes -->
    <div
      class="px-1 pt-2 pb-1 h-[282px] 2xl:h-[452px] text-center bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
    >
      <div class="grid grid-cols-2 items-center font-medium">
        <span>Nodes</span>
        <span>Status</span>
      </div>
      <div
        class="overscroll-none overflow-y-auto scrollbar-hide h-[246px] 2xl:h-[414px] p-2 space-y-3 rounded-[10px]"
      >
        <div *ngFor="let node of nodeList">
          <div
            class="py-[25px] 2xl:py-[33.5px] grid grid-cols-2 place-items-center bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px]"
          >
            <span class="block w-full truncate pl-8 sm:pl-0">{{ node.name }}:{{ node.port }}</span>
            <span
              class="w-4 h-4 rounded-full"
              [ngClass]="{
                'bg-[#65ae61]': node.status === true,
                'bg-red-500': node.status === false,
              }"
            ></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Blocks Chart -->
    <div
      class="p-2 flex flex-col overflow-hidden h-[282px] 2xl:h-[452px] text-sm 2xl:text-base bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
    >
      <div class="font-medium text-center shrink-0">Blocks in the last 24 hours</div>
      <canvas #blockChartCanvas class="flex-1 min-h-0 overflow-hidden block w-full h-full"></canvas>
    </div>

    <!-- Latest Blocks -->
    <div
      class="px-1 pt-2 pb-1 h-[282px] 2xl:h-[452px] bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
    >
      <div class="items-center font-medium text-center">
        <span>Latest Blocks</span>
      </div>
      <div
        *ngIf="blockList.length"
        class="overscroll-none overflow-y-auto scrollbar-hide h-[246px] 2xl:h-[414px] p-2 space-y-2.5 2xl:space-y-3 rounded-[10px]"
      >
        <div *ngFor="let block of blockList">
          <a [routerLink]="['/blocks', block.number]">
            <button
              class="cursor-pointer p-[3.5px] w-full flex md:flex bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[10px] hover:-translate-y-1 duration-300"
            >
              <!-- Tx Count Bar -->
              <div
                class="relative p-8 2xl:p-10.5 rounded-[10px] bg-[#e0e4e7] shadow-[inset_3px_3px_6px_#c8c8c8,inset_-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[inset_3px_3px_6px_#0000004d,inset_-3px_-3px_6px_#ffffff14]"
              >
                <!-- Track -->
                <div class="absolute inset-0 rounded-[10px] overflow-hidden">
                  <!-- Tick marks (10 max tx) -->
                  <div class="flex flex-col justify-between p-1 pointer-events-none">
                    <span *ngFor="let _ of ticks"></span>
                  </div>

                  <!-- Fill -->
                  <div
                    class="absolute bottom-0 w-full transition-all duration-300 ease-out bg-linear-to-br from-[#eb5d82] via-[#eb5d5d] to-[#ed2b2b]"
                    [style.height.%]="(block.txCount / 10) * 100"
                  ></div>
                </div>
              </div>

              <div class="px-2 text-left min-w-0">
                <p class="text-xs 2xl:text-base font-medium dark:text-[#7F8493]">
                  Block {{ block.number }}
                </p>
                <p
                  class="text-xs 2xl:text-sm text-gray-500 truncate whitespace-nowrap text-ellipsis"
                >
                  Data Hash:
                  <span
                    style="
                      font-family:
                        Space Mono,
                        monospace;
                    "
                    >{{ block.dataHash }}</span
                  >
                </p>
                <p class="text-xs 2xl:text-sm text-gray-500">Transactions: {{ block.txCount }}</p>
                <p class="text-xs 2xl:text-sm text-gray-500">{{ block.timestamp | formatDate }}</p>
              </div>
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- Transactions Chart -->
    <div
      class="p-2 flex flex-col overflow-hidden h-[282px] 2xl:h-[452px] text-sm 2xl:text-base bg-[#e0e4e7] shadow-[3px_3px_6px_#c8c8c8,-3px_-3px_6px_#ffffff] dark:bg-[#24272C] dark:shadow-[3px_3px_6px_#0000004d,-3px_-3px_6px_#ffffff14] rounded-[25px]"
    >
      <div class="font-medium text-center shrink-0">Transactions in the last 24 hours</div>
      <canvas #txChartCanvas class="flex-1 min-h-0 overflow-hidden block w-full h-full"></canvas>
    </div>
  </div>
</div>
