/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

@variant dark (&:where(.dark, .dark *));

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
.no-transition *:not(.theme-toggle-anim),
.no-transition *:not(.theme-toggle-anim)::before,
.no-transition *:not(.theme-toggle-anim)::after {
  transition: none !important;
}
